@charset "utf-8";
/* CSS Document */
#main{
	display:block;
	width: 1024px;
	min-height:200px;
	margin: 25px auto;
	border: solid 1px #000; 
	}
#header{
	/* old style */
	background: #7db9e8;
	background: -moz-linear-gradient(-45deg,  #7db9e8 0%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#7db9e8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #7db9e8 0%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #7db9e8 0%,#1e5799 100%); /* IE10+ */
	background: linear-gradient(135deg,  #7db9e8 0%,#1e5799 100%); /* W3C */
	/* new style */
	background: #000; /* for old style delete line */
	/* old style. don't touch */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on 			horizontal gradient */
	display:block;
	height:150px;
	border-bottom: 1px solid #000;
	position:relative;
	}
#header_text{
	display:block;
	margin-top:70px;
	margin-right: 30px;
	float:right;
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.8);
	color: #FFFFFF;
	font-size: 50px;
	}

/* start new styles. for return old styles delete this */
.lab .works {
	display: block;
	height: 70px;
	text-shadow: 0 0 0;
}

.lab {
	margin-left: 5px;
	margin-right: 2px;
	color: white;
}

.works {
	margin-left: 2px;
	margin-right: 5px;
	background: rgb(255, 165, 0);
	color: #000;
	border-radius: 5px;
}
/* end new styles */

/*меню*/
#navigation{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(198,198,198,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(198,198,198,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(198,198,198,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(198,198,198,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(198,198,198,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(198,198,198,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
	height:28px;
	border-bottom:solid 1px #000;
	padding-left:30px;
	}
#navigation a{
	color:#000000;
	display: block;
  	position: relative;
  	margin: 5px;
  	border-right: dashed 1px #000;
  	padding-right: 10px;
  	font-weight: 600;
  	text-transform: capitalize;
  	float: left;
	text-decoration:none;
	}
#navigation a:last-child{
	border:none;
	}
#navigation a:hover{
	text-decoration:underline;
	}
#content{
	display:block;
	width:inherit;
	min-height:200px;
	}
	
/*список дисциплин*/
#lab_works{
	color:#000;
	list-style-type:none;
	line-height:17px;
	margin-left:20px;
	margin-top:30px;
	font-weight:600;
	}
	#lab_works a:hover{
		color:#000000;
		text-decoration:underline;
		}
#lab_works a{
	color:inherit;
	text-decoration:none;
	}
	
/*таблица отчетов по лабам*/
.table_lab{
	margin: 30px auto;
	width:800px;
	text-align:center;
	border:none;
	border-spacing:0px;
	}
	.table_lab form{
		margin:0 auto;
		}
	.table_lab form label{
		visibility:hidden;
		}
	.table_lab form p input label{
		float:left;
		}
	.table_lab tr:hover, tr:link{
		background:#eaeaea;
		}
	.table_lab tr:first-child{
		background:#e0e0e0;
		font-weight:600;
		text-align:center;
		font-size:18px;
		}
	.table_lab tr:first-child td{
		border-bottom:1px solid #999999;
		border-right: 1px solid #999999;
		}
	.table_lab td:first-child{
		text-align:left;
		padding-left: 10px;
		}
	.table_lab td{
		border-right:#999999 1px inset;
		height:10px;
		}
	.table_lab td:last-child{
		border:none;
		}
	.first_td{
		text-align:center !important;
		}
		
/*кнопки управления и добавления лаб*/
#button_cont{
	float:left;
	text-align:center;
	display:table;
	font-weight:600;
	}
	#button_cont_a{
		padding: 29px 20px !important;
  		margin: 3px 4px !important;
  		width: 220px;
  		display: inline-block;
  		color: #ffffff;
  		font-size: 20px !important;
		text-decoration:none;
		display:table-cell;
		vertical-align:middle;
		text-transform:uppercase;
	}
#button_cont:hover{
	background:#E9E9E9;
	}
#button_center{
	width:570px;
	margin: 75px auto;	
	}
	
input[type=submit], #button_cont_a{
	padding: 1px 15px;
	margin: 3px 4px;
	display: inline-block;
	color: #ffffff;
	font-size: 12px;
	cursor: pointer;
	background: #4095ff;
	background: linear-gradient(top, #4095ff 0%, #277ce6 100%);
	background: -moz-linear-gradient(top, #4095ff 0%, #277ce6 100%);
	background: -webkit-linear-gradient(top, #4095ff 0%, #277ce6 100%);
	background: -o-linear-gradient(top, #4095ff 0%, #277ce6 100%);
	border: 1px solid #338bf6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-o-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
	}
input[type=submit]:hover,#button_cont_a:hover{
	background: linear-gradient(top, #5aafff 0%, #4095ff 100%);
	background: -moz-linear-gradient(top, #5aafff 0%, #4095ff 100%);
	background: -webkit-linear-gradient(top, #5aafff 0%, #4095ff 100%);
	background: -o-linear-gradient(top, #5aafff 0%, #4095ff 100%);
	-moz-transform: scale(1.2) translateX(0px) translateY(0px) skewX(0deg);
	-webkit-transform: scale(1.2) translateX(0px) translateY(0px) skewX(0deg);
	-o-transform: scale(1.2) translateX(0px) translateY(0px) skewX(0deg);
	-ms-transform: scale(1.2) translateX(0px) translateY(0px) skewX(0deg);
	transform: scale(1.2) translateX(0px) translateY(0px) skewX(0deg);
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear;
	}
input[type=submit]:active,#button_cont_a:active{
	opacity:0.8;
}#form_add,#form_edit{
	display:block;
	padding-left:30px;
	padding-top:30px;
	}
	
	/*форма добавления лабораторной*/
	#form_add label{
		text-align:right;
		float:right;
		}
	#form_add input[type=submit]{
		margin-left:180px;
		height:25px;
		}
	
	/*форма редактирования лабораторной*/
#form_edit{
	border-top:1px dashed #000;
	}	
	#form_edit th{
		float:right;
		}
	#form_edit tr{
		float:left;
		}
	#form_edit tr td,#form_edit tr th{
		float:left;
		}
	#form_edit input[type=submit]:last-child{
		float:right;}
		
