{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table class="login-form">
<tr class="login-form__username">
    <td class="login-form__username__label">{{ form.username.label_tag }}</td>
    <td class="login-form__username__input">{{ form.username }}</td>
</tr>
<tr class="login-form__password">
    <td class="login-form__password__label">{{ form.password.label_tag }}</td>
    <td class="login-form__password__input">{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Войти" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<!-- <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p> -->

{% endblock %}