{% extends "base.html" %}

{% block content %}

<!-- <form action="{% url 'teacher_labworks' %}" method="POST" enctype="multipart/form-data">
    <table class="teacher-labs">
        {{ form.as_table }}
    </table>
    {% csrf_token  %}
    <input type="submit" value="Добавить работу">
</form> -->


<!-- <table width="100%" class="labs-and-categories">
    <tr>
        <th width="50%">Работы</th>
        <th width="50%">Категории</th>
    </tr>
<tr>

<td width="50%">
    <ul class="list list-labs">
    {% for lab in labworks %}
        <li class="list-labs__item labs-and-categories__item">
            <a href="{% url 'teacher_labwork_update' lab.id %}">{{lab}}</a>
        </li>
    {% endfor %}
    </ul>
</td>

<td width="50%">
    <ul class="list list-categories">
    {% for category in categories %}
        <li class="list-categories__item labs-and-categories__item">
            <a href="{% url 'teacher_category_labworks' category.pk %}">{{ category }}</a>
        </li>
    {% endfor %}
    </ul>
</td>

</tr>
</table> -->

<form action="{% url 'teacher_labworks' %}" method="POST" enctype="multipart/form-data" class="form-add-labs">
    {{ form.as_p }}
    {% csrf_token  %}
    <input type="submit" value="Добавить работу">
</form>

<content class="labs-and-categories-content">
    <section class="labs labs-section">
        <label for="labs__checkbox" class="labs__label">
           <h2 class="labs__title">Работы</h2>
        </label>
        <input type="checkbox" name="" id="labs__checkbox">
        <ul class="labs__list">
            {% for lab in labworks %}
            <li class="labs__list__item labs-and-categories__item">
                <a href="{% url 'teacher_labwork_update' lab.id %}">{{lab}}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="categories categories-section">
        <h2 class="categories__title">Категории</h2>
        <ul class="categories__list">
            {% for category in categories %}
            <li class="categories__list__item labs-and-categories__item">
                <a href="{% url 'teacher_category_labworks' category.pk %}">{{ category }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
</content>

{% endblock %}